body {
    background-color: #542437;
    color: #ECD078;
    margin: 10px;
}
.containMe {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 33% 33% 33%;
}
.box {
    background-color: #53777A;
    color: #ECD078;
    border-radius: 3px;
    padding: 20px;
    font-size: 150%;
    margin: 3px;
    border: 3px;
}
.picture {
    width: 100%;
    height: auto;
}

a {
    color: #C02942;
}